@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');



/* container for breathing space top to bottom (padding) */
/* row caps the sides (margin: 0 auto;) */
/* CSS variables */
:root {
    --secondary-color: #242424;
    --primary-color: #f06449;
    --transition-primary: all .3s ease;
    --transition-secondary: all .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Common classes / ids */

li {
    list-style: none;
}

section {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none ;
}


.primary-color {
    color: var(--primary-color);
}

.title {
    font-size: 7.5rem;
    margin-bottom: .75rem;
    text-align: left;
    line-height: 1;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: var(--secondary-color);
    color: #fff;
    outline: none;  
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 2.5rem;
    transition: var(--transition-primary);
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: .5rem;
}

label {
    font-size: .875rem;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: var(--primary-color);
}



.container {
    padding: 3.125rem 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 .75rem;
}


.click {
    transition: var(--transition-primary);
    cursor: pointer;
}
/* when mouse hovers over the links */
.click:hover {
    transform: scale(1.1);
}

/* when user is actually clicking on the links */
.click:active {
    transform: scale(0.8);
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    height: 3px;
    width: 0;
    background-color: #000;
    transition: var(--transition-primary);
}


.link__hover-effect:hover::after   {
    left: 0;
    width: 100%;
}


/* NAVIGATION */



#personal-logo {
    filter: invert(1);
    height: 50px;
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 1.25rem;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 .75rem;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link--anchor {
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 700;
}

.fa-adjust {
    font-size: 1.25rem;
}


/* LANDING PAGE */

#landing-page {
    min-height: 100vh ;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    color: var(--secondary-color);
    padding: 0 2rem;
}

.header__para {
    font-size: 1.5rem;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    display: flex;  
    margin-top: 1rem;
}

.social__list--item, .footer__social--item {
    display: flex;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    width: 2rem;
    padding: .5rem;
    margin-right: .5rem;
}

.social__link, .footer__social--link {
    color: inherit;
    display: flex;
    margin: 0 auto;
}

.mail__btn {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.scroll {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 1.25rem;
    height: 1.75rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon::after {
    content: "";
    width: .25rem;
    height: .375rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    animation: scroll 1s infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}



/* MODAL */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 1.25rem 5rem rgb(0, 0, 0, 0.55);
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    padding: 8% 4.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.modal__about {
    background-color: rgb(245, 245, 245);
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
}

.modal__language {
    width: 25%;
    padding: .75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    transition: var(--transition-secondary);
}

.modal__language:hover .language__name {
    transform: scale(1);
}

.modal__language:hover {
    filter: brightness(80%);
}

.language__name {
    position: absolute;
    bottom: -.75rem;
    transform: scale(0);
    transition: var(--transition-secondary);
}

.modal__language--img {
    width: 100%;
}

.modal__title {
    font-size: 1.625rem;
}
.modal__sub-title {
    margin: .75rem 0 1.5rem 0;
    font-size: .875rem;
}

.modal__para {
    margin-bottom: .75rem;
    line-height: 1.75;
}

.modal__contact {
    background-color: #242424;
    color: #fff;
    /* justify-content: flex-start; */
}

#contact__form {
    position: relative;
}

.form__item {
    margin-bottom: 1.25rem;
}

.form__submit {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
    width: 100%;
    max-width: 240px;
    border-radius: 99999px;
    transition: var(--transition-primary);
}

.form__submit:hover {
    border-color: #fff;
    background-color: transparent;
    box-shadow: 0 1.25rem 5rem rgba(120, 56, 56, 0.55);
}

.form__submit:active {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__overlay--loading {
    background-color: var(--primary-color);
    font-size: 5rem;
    z-index: -1;
}

.modal__overlay__success {
    background-color: #4bb543;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 3.125rem;
}

.fa-spinner {  
    animation: spinner .75s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #fff;
    font-size: 2rem;
    transition: var(--transition-secondary);
    cursor: pointer;
}

.modal__exit:hover {
    transform: rotate(90deg) scale(1.1);
}

.modal__exit:active {
    transform: scale(0.8);
}



/* PROJECTS */  

.section__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3.75rem;
}

.project {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
    
}

.project__img {
    width: 100%;
 
}

.project__wrapper {
    position: relative;
    border-radius: 5rem;
    box-shadow: 0 1.25rem 5rem 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    top: 50%;
    left: 5.5rem;
    transform: translateY(100%);
    opacity: 0;
    color: #fff;
    max-width: 550px;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
}

.project__description, .project__wrapper--bg, .project__img {
    transition: var(--tranition-secondary);
}

.project__description--title {
    font-size: 2.5rem;
}

.project__description--sub-title {
    margin: .5rem 0;
}

.project__description--link {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.project__description--para {
    margin: 1rem 0;
}


/* FOOTER */


footer {
    background-color: var(--secondary-color);
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 1.75rem 0;
}

.footer__logo--img {
    width: 4.5rem;
}

 .footer__copyright {
    color: #fff;
}